/*body {
    background: url('../img/bg.jpg') center center fixed;
    background-size: cover;
}
*/


#blogContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f2f5;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.blogEntry {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.blogUser {
    font-style: italic;
    font-size: 1.5em;
    color: blue;
    margin-bottom: 10px;
}

.blogTitle {
    font-style: italic;
    font-size: 1.1em;
    color: #606770;
    margin-bottom: 10px;
}

.blogContent {
    align-items: center;
    margin-bottom: 15px;
    font-size: 1em;
    color: #1c1e21;
}

.blogImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}